@media print {
  #appToolbar {
    display: none;
  }
  .chart li .node {
    display: inline-block;
  }
  .chart li > ul {
    counter-reset: item;
    padding: 0.5em 0 0.25em 1em;
  }
  .chart li {
    list-style-type: none;
  }
  .chart li > ul li::before {
    content: counters(item, ".") " ";
    counter-increment: item;
  }
} /** End of print media */

@media screen {
  html,
  body {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  #appToolbar,
  #appBody,
  .navtree,
  .chart,
  .details {
    position: absolute;
  }
  /****************************
    Layout CSS for application
  *****************************/
  #appToolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    border-bottom: 1px solid #ccc;
  }
  #appToolbar .menuItem {
    padding: 0px 2px;
    border: 0px;
    background: transparent;
    display: inline-block;
  }
  #appToolbar .menuItem:hover {
    background-color: #999;
  }
  #appToolbar .zoombar {
    display: inline-block;
    padding: 0 4px;
  }
  #appToolbar .zoombar .menuItem {
    padding: 0 3px;
    margin: 0 2px;
  }
  #appBody {
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
  .details section {
    padding: 4px;
  }

  /***************************
    Layout CSS for chart only
  ***************************/
  .fullchart .chart {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }
  .fullchart .navtree,
  .fullchart .details {
    display: none;
  }
  /* End of chart only layout */

  /**************************************
    Layout CSS for default configuration
  ***************************************/
  .default .navtree,
  .default .chart {
    top: 0;
    bottom: 0;
    overflow: auto;
  }
  .default .navtree {
    left: 0;
    width: 300px;
  }
  .default .chart {
    left: 304px; /* Navtree is width 300px + padding-left:4px */
    right: 0;
  }
  .default .details {
    display: none;
  }
  /* End of default layout configuration */

  /***********************************
    Layout CSS for details visible
  ***********************************/
  .detailsview .details,
  .detailsview .chart {
    left: 0;
    right: 0;
    overflow: auto;
  }
  .detailsview .chart {
    top: 0;
    bottom: 300px;
  }
  .detailsview .details {
    height: 300px;
    bottom: 0;
  }
  .detailsview .navtree {
    display: none;
  }
  /* End of detailsview layout configuration */

  /***********************************
    Layout CSS for everything visible
  ***********************************/
  .everything .navtree,
  .everything .chart {
    top: 0;
    overflow: auto;
  }
  .everything .navtree {
    left: 0;
    bottom: 0;
    width: 300px;
  }
  .everything .chart {
    left: 304px; /* Navtree is width 300px + padding-left:4px */
    right: 0;
    bottom: 300px;
  }
  .everything .details {
    height: 286px;
    left: 304px;
    right: 0;
    bottom: 0;
  }
  /* End of fullchart layout configuration */

  /*====================================
    Styles for app components begin here
    ====================================*/

  #appToolbar {
    background-color: #ddd;
  }
  .fileSelect {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  /********************
    Styles for navtree
    ******************/
  .navtree {
    border-right: 1px solid #ccc;
    padding-left: 4px;
    font-family: arial, verdana, tahoma;
    font-size: 0.75em;
  }
  .navtree ul {
    padding: 0;
  }
  .navtree li > ul {
    counter-reset: item;
    padding: 0.5em 0 0.25em 1em;
  }
  .navtree li {
    list-style-type: none;
    white-space: nowrap;
  }
  .navtree .node {
    cursor: default;
  }
  .navtree .node:hover {
    color: #fff;
    background-color: #666;
  }
  .navtree li > ul li::before {
    content: counters(item, ".") " ";
    counter-increment: item;
  }
  .navtree li .node {
    display: inline-block;
  }

  /*******************
    The component map
    *****************/
  .chart {
    padding: 4px 10px;
  }
  .chart * {
    margin: 0;
    padding: 0;
  }
  /* Put drag on the ul (child) otherwise Chrome renders the drah cursor even when over the scroll bars */
  .chart.drag ul {
    cursor: move;
  }
  .chart ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
  }
  .chart li {
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
  }
  /* We use ::before and ::after to draw the connectors*/
  .chart li::before,
  .chart li::after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
  }
  .chart li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
  }
  /* Remove left-right connectors from elements without any siblings */
  .chart li:only-child::after,
  .chart li:only-child::before {
    display: none;
  }
  /* Remove space from the top of single children */
  .chart li:only-child {
    padding-top: 0;
  }
  /* Remove left connector from first child and right connector from last child */
  .chart li:first-child::before,
  .chart li:last-child::after {
    border: 0 none;
  }
  /* Adding back the vertical connector to the last nodes */
  .chart li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
  }
  .chart li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
  }
  /* Add downward connectors from parents */
  .chart ul ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
  }
  .chart li .node {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 0.75em;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
  }
  /* Hover effects for chart nodes */
  .chart li .node:hover,
  .chart li .node:hover + ul li .node {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
  }
  /* Hover styles for connectors */
  .chart li .node:hover + ul li::after,
  .chart li .node:hover + ul li::before,
  .chart li .node:hover + ul::before,
  .chart li .node:hover + ul ul::before,
  .chart li a:hover + ul li::after,
  .chart li a:hover + ul li::before,
  .chart li a:hover + ul::before,
  .chart li a:hover + ul ul::before {
    border-color: #94a0b4;
  }
  /* Make the noeds rectangles */
  .chart.boxes .node {
    width: 8em;
    height: 6em;
    white-space: normal;
  }
  /* Give the nodes a 3D appearance */
  .chart.threed .node {
    box-shadow: 5px 5px 5px #ccc;
  }
  /* Set the cursor for chart nodes */
  .chart .node {
    cursor: default;
  }
  /* Provide ability to expand or collapse a branch */
  .node.contract::after {
    content: "+";
    font-size: 1.75em;
    position: absolute;
    top: 0.5em;
    right: 0.25em;
  }
  .node.contract + ul {
    display: none;
  }
  /** Add a counter to the chart items */
  .chart li > ul {
    counter-reset: item;
  }
  .chart li > ul li .node::before {
    content: counters(item, ".") ": ";
    counter-increment: item;
    text-align: center;
    font-size: 0.75em;
    display: block; /* inline-block will place it to the left, block places it at the top */
  }

  /* Chart zoom levels, all configurations
     we must override li .node because that is where the original font-size is set. */
  .zoom40 li .node {
    font-size: 0.4em;
  }
  .zoom50 li .node {
    font-size: 0.5em;
  }
  .zoom60 li .node {
    font-size: 0.6em;
  }
  .zoom80 li .node {
    font-size: 0.8em;
  }
  .zoom90 li .node {
    font-size: 0.9em;
  }
  .zoom100 li .node {
    font-size: 1em;
  }
  .zoom110 li .node {
    font-size: 1.1em;
  }
  .zoom120 li .node {
    font-size: 1.2em;
  }
  .zoom130 li .node {
    font-size: 1.3em;
  }
  .zoom140 li .node {
    font-size: 1.4em;
  }
  .zoom150 li .node {
    font-size: 1.5em;
  }

  /*
    Color animations when a chart node is scrolled into view
  */
  @-webkit-keyframes shake {
    0% {
      background-color: #fff;
      color: #000;
    }
    25% {
      background-color: #000;
      color: #fff;
    }
    75% {
      background-color: #fff;
      color: #000;
      border-color: #f00;
    }
    90% {
      border-color: #f00;
    }
    100% {
      background-color: #fff;
      border-color: #ccc;
    }
  }

  /* ==================== Details  ==================== */
  .details {
    padding: 4px 6px;
    border-top: 1px solid #ccc;
  }
  .details section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    display: none;
    cursor: text;
    overflow: auto;
  }

  /* ==================== Context menu  ==================== */
  .contextMenu {
    display: inline-block;
    position: absolute;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #666;
    font-size: 0.75em;
    background-color: #fff;
  }
  .contextMenu .menuItem {
    padding: 1px 1.5em;
    border: 0px;
    background: transparent;
    display: block;
    text-align: left;
  }
  .contextMenu button.menuItem {
    width: 100%;
  }
  .contextMenu .menuItem:hover {
    background-color: #7af;
  }
  .contextMenu .dividor {
    border-top: 1px solid #ccc;
    padding-top: 1px;
  }
}
