<div class="futureTemplate" hidden>
  <div class="future" hidden>
    <%- include day %>
    <%- include day %>
    <%- include day %>
    <%- include day %>
    <%- include day %>
    <%- include day %>
    <%- include day %>
  </div>
</div>