<div class="card cardTemplate weather-forecast" hidden>
  <div class="city-key" hidden></div>
  <div class="card-last-updated" hidden></div>
  <button class="card-close">X</button>
  <div class="location"></div>
  <div class="date"></div>
  <div class="description"></div>
</div>