<div class="currentTemplate" hidden>
  <div class="current">
    <div class="visual">
      <div class="icon"></div>
      <div class="temperature">
        <span class="value"></span><span class="scale">°F</span>
      </div>
    </div>
    <div class="description">
      <div><span i18n="humidity">Humidity:</span><span class="humidity"></span></div>
      <div class="wind">
        <span i18n="wind">Wind:</span><span class="value"></span>
        <span class="scale">mph</span>
        <span class="direction"></span>°
      </div>
      <div><span i18n="sunrise">Sunrise:</span><span class="sunrise"></span></div>
      <div><span i18n="sunset">Sunset:</span><span class="sunset"></span></div>
    </div>
  </div>
</div>