<div class="oneday">
  <div class="date"></div>
  <div class="icon"></div>
  <div class="temp-high">
    <span class="value"></span>°
  </div>
  <div class="temp-low">
    <span class="value"></span>°
  </div>
</div>
