<header class="header">
  <h1 class="header__title"><%= htmlWebpackPlugin.options.title %></h1>
  <button id="butRefresh" class="headerButton" aria-label="Refresh"></button>
  <button id="butAdd" class="headerButton" aria-label="Add"></button>
  <button id="butMenu" class="headerButton" aria-label="Menu"></button>
  
  <div class="menuContainer">
    <select id="selLanguage">
      <option value="en">English</option>
      <option value="fr">French</option>
    </select>
  </div>

  <%- include dialog %>

  </header>